.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 25px;
}
.cardDiv{
    background-color: rgba(100, 100, 100, .4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    outline: 0;
    border: none;
    box-shadow: 0 0 71px 10px rgba(255, 255, 255, 0.5);
}
.cardDiv:hover{
    box-shadow: 0px 0px 71px 10px rgba(0,255,10,1);
    background-color:  rgba(100, 100, 100, 1);
    transform: translateY(-3px);
}
.img{
    margin:0 auto 10px auto;
    border-radius: 50%;
    max-width: 90%;
    transition:all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}
.img:hover{
    transform: translateY(-3px);
    border-radius: 10%;
    
}
.divh3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#40b5cb;
   -webkit-text-stroke: .5px #c0df40;
   font-size:larger;
    
}
.heart{
    align-self: center;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    border: none;
    background-color: rgba(100, 100, 100, 0);
}


