.random{
    height: 2rem;
    width: 5rem;
    border: 0;
    border-radius: 10px;
    opacity: 0.7;
    background-color: #c403ff;
    font-size: large;
}
.random:hover{
    opacity: 1;
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
    background-image: linear-gradient(to top right, #ff00ea, #c403ff);
    -webkit-box-shadow: 0px 0px 10px 5px #E600FF;
    box-shadow: 0px 0px 10px 5px #E600FF;
}